<% provide(:title, "Log in") %>
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h1 class="ui violet image header">
      <div class="content">Log in</div>
    </h1>
    <%= form_for(:session, url: login_path, html: {class: "ui large form"} )do |f| %>
      <div class="ui segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.text_field :login_id, required: 'required', placeholder: 'Login ID'  %>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password, required: 'required', placeholder: 'password' %>
          </div>
        </div>
      </div>
      <%= f.submit "Log in", :class=>"ui fluid large violet submit button" %>
    <% end %>
  </div>
</div>
