<% provide(:title, "Log in") %>
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <%= form_for(:session, url: login_path, html: {class: "ui large form"} )do |f| %>
      <div class="ui raised padded inverted segment">
        <div class="ui huge header">
          <i id="login_icon" class="ui icon coffee"></i>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.text_field :login_id, required: 'required', placeholder: 'Login ID'  %>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password, required: 'required', placeholder: 'password' %>
          </div>
        </div>
          <%= f.submit "Log in", :class=>"ui inverted fluid large button" %>
      </div>
    <% end %>
  </div>
</div>
