<li id="chat-<%= chat.id %>" class="list-group-item list-group-item-action">
  <div>
    <h3 class="user-name font-weight-bold d-inline-block"><%= chat.user.login_id %></h3>
    <time><%= chat.created_at.to_s(:short) %></time>
  </div>
  <span class="text-secondary"><%= chat.text %></span>
</li>
