<div id="chat-<%= chat.id %>"
     class="card text-dark chat <%= (chat.user_id == current_user.id) ? "self" : "other" %>">
  <div class="card-body">
    <p><%= chat.text %></p>
  </div>
</div>
