$base-color: #5F4B8B;
$sub-color1: #3C2F58;
$sub-color2: #C0B5D7;
$sub-color3: #8D859E;
$sub-color4: #9374D7;
$image-size: 80px;
@import 'bootstrap';

html, body 
{
  width: 100%;
  height: 100%;
  background-color: $base-color;
  color: $sub-color2;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;

  &.form h1 {
    margin-bottom: 1rem;
  }
  &.form label {
    font-size: 1.25rem;
  }
}
.sidebar {
  background-color: $sub-color4;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  min-width: 240px;
}
.account {
  background-color: $base-color;
  line-height: $image-size;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
}
.account_icon {
  height: $image-size;
  width: $image-size;
}
.chat-header {
  height: $image-size;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  background-color: $sub-color3;
}
.main {
  background-color: $white;
}
.user-name {
  font-size: 1rem;
}
time {
  font-size: .7rem;
}
.sign-out {
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  background-color: $sub-color1;
  height: $image-size;
}
#message-input {
  box-shadow: none;
  border-top:1px solid $base-color !important;
}